#===============================================================================
output {
    elasticsearch {
        hosts => [
          "{{ ansible_host }}"
        ]
    }
}
#===============================================================================
