export PS1="[`logname`@`hostname`:\${PWD}]\> "
export TERM=aixterm
export HOSTNAME=$(hostname -s)

export ORACLE_SID="{{ oracle_sid }}"
export ORACLE_HOME="{{ oracle_home }}"
export LIBPATH=$ORACLE_HOME/lib

export PATH="/usr/bin:/etc:/usr/sbin:/usr/ucb:$HOME/bin:/usr/bin/X11:/sbin:.:{{ extrapath }}"

alias lt='ls -alt'
alias ll='ls -alF'
alias l='ls -ACF'
alias cls='clear; ls -alF'
alias c='cd /bak/tpcep9'

unset ORA_CRS_HOME
unset EXTSHM
set -o vi
umask 022

if [ -t 0 ]; then
   stty intr ^C
fi
